@{
    ViewData["Title"] = "Home Page";
}

<span id="lbName"></span>

@section Scripts{
    <script>
        $(document).ready(function () {
            
            $("#lbName").text("ready");
            //alert("ready");
            $.ajax({
                url: "/api/poets/GetByName/李白",
                type: "get",
                //async:false,
                complete: function (data) {
                   // $("#lbName").text(data.Name);
                    console.log(data);
                    //alert("complete");
                },
                success: function (data) {
                    $("#lbName").text(data.name + data.description);
                    console.log(data);
                   // alert("success");
                },
                error: function (err) {
                    $("#lbName").text("err");
                    console.log(err);
                    alert("error");
                }
            });
        });
    </script>
}